@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 96%; /* #f9f7f4 */
    --foreground: 25 25% 15%; /* #312a24 */
    --card: 40 33% 100%; /* #ffffff */
    --card-foreground: 25 25% 15%;
    --popover: 40 33% 100%;
    --popover-foreground: 25 25% 15%;
    --primary: 25 45% 30%; /* #704c3a */
    --primary-foreground: 0 0% 98%;
    --secondary: 40 10% 90%;
    --secondary-foreground: 25 25% 15%;
    --muted: 40 10% 90%;
    --muted-foreground: 25 25% 45%;
    --accent: 40 10% 90%;
    --accent-foreground: 25 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 10% 85%;
    --input: 40 10% 85%;
    --ring: 25 45% 30%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --footer: 40 10% 92%;
    --footer-foreground: 25 25% 15%;
  }

  .dark {
    --background: 25 15% 10%;
    --foreground: 0 0% 98%;
    --card: 25 15% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 25 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 30 60% 80%;
    --primary-foreground: 25 15% 10%;
    --secondary: 25 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 25 15% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 25 15% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 15% 20%;
    --input: 25 15% 20%;
    --ring: 30 60% 80%;
    --footer: 25 15% 12%;
    --footer-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
